# tenacity>=8.2.3
chromadb
llama_index
google-generativeai
openai
cohere
pypdf
flask
psycopg2
dbt-bigquery
metricflow[bigquery]
# pydantic==2.5.2
flask-cors
gcloud
trulens_eval
html2text
playwright
plotly